{% extends 'blog/base.html' %}

{% block title %} {% endblock title %}

{% block content %}

<div class="post-share">
  {% if sent %}
    <div class="shared-post">
      <h3>Post sent success.</h3>
      <p>{{post.title}} was sent to {{form.cleaned_data.to}}.</p>
    </div>

  {% else %}
    <div class="share-now">
      <h3>Share {{post.title}}</h3>
      <form class="" action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" name="button">Share</button>
      </form>
    </div>

  {% endif %}
</div>


{% endblock content %}
